.search__form {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  button {
    all: unset;
  }
  button {
    position: absolute;
    top: 45px;
    right: 45px;
    text-align: center;
    cursor: pointer;
  }
}
